.body-content {
    min-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group--history-tools {
    display: none !important;
}

.error {
    color: red;
}

body {
    background: #000 !important;
}
